@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto, Helvetica, sans-serif;
    font-weight: 400;
}
#logo {
    font-family: roboto, Helvetica, sans-serif;
    font-weight: 700;
}



/*Menu Styles*/
header {
    width: 100%;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu, ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.nav-menu li {
    margin-right: 30px;
}
