@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rokkitt&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Rokkitt, Helvetica, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    text-align: center;
}



/* headings and logo*/
header {
    width: 100%;
}

h1, #logo {
    font-family: roboto bold, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 250%;
    text-transform: uppercase;
    color: #a37cf0;
    letter-spacing: 4px;
    margin-left: 30px;
    

    
}

/*Menu Styles*/
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 75px;
}

.nav-menu, ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#menu a{
    text-decoration: none;
    color: inherit;

}
.nav-menu li {
    margin-right: 30px;
}

.nav-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Hero Image*/

#hero-section {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center/cover;
    
    animation-name: hero-enter;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}
#cover-text {
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: whitesmoke;

    width: 35%;
    height: 5em;

    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 40px;

    background-color: #a37cf088;

    bottom: 40px;
    right:40px;

    position: absolute;

    animation-name: cover-text-appear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*ethos sections*/
#ethos-head {
    font-size: 250%;
}
#main-container {
    width: 100%;
    height: 100%;
    background-image: url(../images/ethos-background-image.jpg);
    background-size: cover;
}
.ethos-section div {
    background-color: #a37cf088;
    padding-bottom: 20%;
    margin-bottom: 4em;
    margin-left: 4em;
    margin-right: 4em;
    border: 3px #3a3a3a solid;
    
}
#ethos-section-top {
    display: flex;
    
}
#ethos-section-top div {
    margin-top: 4em;
}
#ethos-section-bottom {
    display: flex;
    
    
}

.left-about {
   flex: 50%;
}
.right-about {
    flex: 50%
   
}


/*Footer*/
footer {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
  }
  
  .social-networks {
    display: flex;
    list-style: none;
  }
  
  .social-networks li {
    display: block;
    position: relative;
    font-size: 230%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0 20px;
  }
  
  .social-networks a {
    color: black;
  }
  

  @media (max-width: 800px) {
    
    #ethos-section-top {
        display: flex;
        flex-wrap: wrap;
    }
    #ethos-section-bottom {
        display: flex;
        flex-wrap: wrap;
    }
}






@keyframes hero-enter {
    from {
      background-position: top center;
    }
    to {
      background-position: center center;
    }
  }

  @keyframes cover-text-appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }